<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Vue</title>
  <script type="text/javascript" src="./node_modules/vue/dist/vue.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./main.css">
</head>

<body>
  <div id="app" class="container">
    <div class="row">
      <div class="col-6">
        <div class="col-12">
          <hr />
          <div class="form-group">
            <label>Vert : </label>
            <input class="form-control" type="number" v-model="green" />
          </div>
          <hr />
          <div class="form-group">
            <label>Bleu : </label>
            <input class="form-control" type="number" v-model="bleu" />
          </div>
          <hr />
          <div class="form-group">
            <label>Rouge :</label>
            <input class="form-control" type="number" v-model="red" />
          </div>
          <hr />
          <div class="col-12">
            <button class="btn btn-primary" @click="saveSquare()">Sauvegarder</button>
            <button class="btn btn-secondary" @click="reset()">Annuler</button>
          </div>
          <hr />
          <h3> Nombre de carrés : {{nbrOfSquares}}</h3>
          <hr />
          <div class="col-12" v-if="nbrOfSquares" >
            <div class="prevsquare" v-for="square in squares" :style="{backgroundColor:square}"></div>
          </div>
          <h3 v-else> Ajouter des couleurs !</h3>
        </div>
      </div>
      <div class="col-6">
        <div class="square mx-auto"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    new Vue({
      el: '#app',
      data: {
        green: 0,
        bleu: 0,
        red: 0,
        squares: []
      },
      methods: {
        resetColor(){
          this.red=0;
          this.bleu=0;
          this.green=0;
        },
        saveSquare() {
          this.squares.push(`rgb(${this.red},${this.bleu},${this.green})`);
          this.resetColor();
          console.log(this.squares)
        },

        reset() {
          this.squares =[];
          this.resetColor();console.log(this.squares)
        }
      },
      computed:{
        nbrOfSquares(){
          return this.squares.length
        }
      }
    })
  </script>
</body>

</html>
